@model IEnumerable<Tripodea.ServiceLayer.DTOs.Bus.ResultDto>
<div class="container">
    @if (!Model.Any())
    {
        <br />
        <div class="alert alert-warning">
            Sorry, couldn't find any journeys at this date...
        </div>
    }
    else
    {
        <label class="label label-info">
            Showing @Model.Count() journies&nbsp;
        </label>
    }

    @foreach (var result in Model)
    {
        <div>
            <h4><a href="@Url.Action("SeatSelect", new {scheduleId = result.ScheduleId})">@result.Bus</a></h4>
            <h6>
                @result.JourneyFrom to @result.JourneyTo&nbsp;|&nbsp;
                Available seats
                <span class="label label-success">@result.AvailableSeats</span> &nbsp;|&nbsp;
                Departure: @result.Departure
                <br />
            </h6>
            <p>
                @result.Description
            </p>
        </div>
    }
    <br /><br />
</div>
