@model IEnumerable<Tripodea.ServiceLayer.DTOs.Bus.ResultDto>

@*Load details modal script*@
<script>
    function loadDetails() {
        $('#details').modal('show');
    }
</script>

<div>
    @if (!Model.Any())
    {
        <br />
        <div class="alert alert-warning">
            Sorry, couldn't find any journeys at this date...
        </div>
    }
    else
    {
        <label class="label label-info">
            Showing @Model.Count() journies&nbsp;
        </label>
    }

    @foreach (var result in Model)
    {
        <div>
            <h4>
                @Ajax.ActionLink(result.Bus, "SeatSelect", new { scheduleId = result.ScheduleId },
                    new AjaxOptions
                    {
                        UpdateTargetId = "details",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "loadDetails()"
                    })
            </h4>
            <h6>
                @result.JourneyFrom to @result.JourneyTo&nbsp;|&nbsp;
                Available seats
                <span class="label label-success">@result.AvailableSeats</span> &nbsp;|&nbsp;
                Departure: @result.Departure
                <br />
            </h6>
            <p>
                @result.Description
            </p>
        </div>
    }
    <br /><br />
</div>

<!-- Details -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

